<p id="notice"><%= notice %></p>

<p>
  <b>Customer name:</b>
  <%= @soldout.customer_name %>
</p>

<p>
  <b>Customer email:</b>
  <%= @soldout.customer_email %>
</p>



<%= link_to 'Back', deals_path %>
